@using Students.Model

@model Teacher

<h1>Tanári regisztráció:</h1>

@using (Html.BeginForm("RegisterTeacher", "Teacher"))
{
    <label>Név:</label>
    @Html.TextBoxFor(x => x.FullName)

    <label>Email cím:</label>
    @Html.TextBoxFor(x => x.EmailAddress)

    <label>Jelszó:</label>
    @Html.PasswordFor(x => x.Password)

    <input type="submit" />
}